.note-container {
  display: inline-block;
  width: 18rem;
  padding: 10px;
  background-color: hsl(0, 0%, 100%);
  min-height: 150px;
  vertical-align: top;
  border-radius: 5px;
  margin: 0px 25px 25px 0;
  text-align: left;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  overflow: hidden;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }

  & h2 {
    height: 20%;
    color: rgb(34, 30, 30);
    margin-bottom: 4px;
    font-size: 1.3rem;
  }

  & p {
    color: rgb(32, 31, 31);
    height: 80%;
  }

  & .delete-icon {
    height: 20%;
    cursor: pointer;
    color: rgb(233, 51, 51);
    position: absolute;
    bottom: 10px;
    right: 10px;

    &:hover {
      color: red;
    }
  }
}
