.note-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 150px;
  max-height: 250px;
  width: 20rem;
  vertical-align: top;
  background-color: hsl(0, 0%, 100%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  padding: 15px;
  margin: 0px 25px 25px 25px;
  text-align: left;
  overflow: hidden;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }

  & .note-details {
    & .note-title {
      color: rgb(75, 73, 73);
      margin-bottom: 4px;
      font-size: 1.3rem;
      text-shadow: 0px 1px 4px rgba(81, 67, 21, 0.249);
    }

    & .note-body {
      color: rgb(98, 96, 96);
      margin-bottom: 10px;

      & .read-more-link {
        color: blueviolet;
        letter-spacing: 1px;
        cursor: pointer;
      }
    }
  }

  & .note-icons {
    display: flex;
    justify-content: space-between;
    & .edit-icon {
      height: 20%;
      cursor: pointer;
      color: rgb(169, 161, 161);

      &:hover {
        color: rgb(91, 89, 89);
      }
    }

    & .delete-icon {
      height: 20%;
      cursor: pointer;
      color: rgb(233, 51, 51);

      &:hover {
        color: red;
      }
    }
  }
}
