.sign-in__form-container {
  width: 25rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 60px 70px;
  background-color: #ffffff;
  outline: 1px solid red;
  box-shadow: rgba(0, 0, 0, 0.548) 0px 1px 4px;
  border-radius: 5px;

  & .clear-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  & h2 {
    text-align: center;
    margin-bottom: 15px;
  }

  & input[type] {
    display: block;
    width: 100%;
    margin: auto;
    height: 38px;
    padding: 5px 10px;
    border: 1px solid grey;
    border-radius: 4px;
    margin-bottom: 20px;

    &:focus {
      box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px;
      border: 2px solid #ffbe0b;
      outline: none;
    }
  }

  & .login-btn {
    display: block;
    margin-left: auto;
    margin-bottom: 8px;
    height: 38px;
    width: 30%;
  }

  & .reg-pass-container {
    display: flex;
    cursor: pointer;
    justify-content: space-between;

    & span {
      font-size: 0.8rem;

      &:first-child {
        color: rgb(29, 29, 121);
      }

      &:last-child {
        color: grey;
      }
    }
  }

  & .line-break {
    color: grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;

    & .line {
      width: 45%;
      height: 0px;
      border-top: 1px solid rgb(152, 151, 151);
    }

    & #line-break-text {
      font-size: small;
    }
  }

  & .google-sign-in {
    width: 100%;
    color: red;
    height: 38px;
  }
}
